.table-container {
  overflow: auto;
}

.table-container table {
  padding: 0 20px;
  width: 80%;
  margin: 0 auto;
}

.table-container * {
  padding: 10px 20px;
  border-top: 1px solid black;
}

.table-container tr:nth-child(2n) {
  background-color: var(--color-main);
}

.table-container tbody tr {
  transition: all 0.3s ease-in-out;
}

.table-container tbody tr:hover {
  transform: translateX(8px) ;
}

@media only screen and (max-width: 600px){
  .table-container table {
    width: 100%;
    font-size: 0.8rem;
    padding: 0;
  }

  .table-container * {
    padding: 10px 5px;
  }
}