.autocomplete {
  width: 66%;
  z-index: 10;
}

.autocomplete ul {
  top: 66px;
  left: 26%;
  width: 55%;
  position: absolute;
  list-style: none;
  padding: 0;
  border: 1px solid black;
  box-shadow: 3px 3px black;
  max-height: 30vh;
  overflow: auto;
}

.autocomplete li {
  padding: 10px;
  background-color: white;
  transition: all 0.3s ease;
}

.autocomplete li:hover {
  background-color: #afafaf;
  cursor: pointer;
}

.autocomplete li:not(:last-child) {
  border-bottom: 1px dotted grey;
}

@media only screen and (max-width: 600px) {
  .autocomplete ul {
    top: 91px;
    left: 10%;
    width: 75%;
  }
}