.container {
  width: 60%;
  height: 100vh;
  margin: 0 auto;
  font-size: 3rem;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
  border: none;
}

.container * {
  border: none;
}

@media only screen and (max-width: 600px){
  .container {
    width: 80%;
  }
}